In [1]:
#Create a class for student details

In [17]:
class studentInfo():
    def student():
        Name="John"
        Roll = 123
        Dept="Information Technology"
        print("Name :",Name)
        print("Roll No :",Roll)
        print("Deparment :",Dept)
        
studentInfo.student()

Name : John
Roll No : 123
Deparment : Information Technology

In [20]:
class Swap():
    def swapping2Numbers(num1,num2):
        print("Number 1",num2)
        print("Number 2",num1)
Swap.swapping2Numbers(4,8)

Number 1 8
Number 2 4

In [33]:
class Average1():
    def Avg(Marks1,Marks2,Marks3):
        print("Mark1:",Marks1)
        print("Mark2:",Marks2)
        print("Mark3:",Marks3)
        Total=Marks1+Marks2+Marks3
        print("Total:",Total)
        Average=Total/3
        print("Average :",Average)
        
Average1.Avg(45,56,78)

Mark1: 45
Mark2: 56
Mark3: 78
Total: 179
Average : 59.666666666666664

In [32]:
#Create a class to display multiply of consecutive numbers

In [ ]:
class employeeInfo():
    def emp():
        for i in range(3):
            Employee_Name=input()
            Employee_ID=int (input())
            Employee_Role=input()
            Employee_Salary=int (input())
            print("Employee Name",Employee_Name)
            print("Employee ID",Employee_ID)
            print("Job Role",Employee_Role)
            print("Employee Salary",Employee_Salary)
    return Employee_Name,Employee_ID,Employee_Role,Employee_Salary
    
Info=employeeInfo.emp()
print(Info)

In [ ]:
List1=[1,2,3,4,5]
multiply=[]
for number in List1:
    multiply=number1*number2
    print(multiply)